.svn
*.exe
*.gif
*.xml
*.css
*.psd
*.db
*.js
*.dll
*.jpg
*.ico
*.zip
*.rar
*.csv
*.pspimage
*.lnk
*.7z
*.doc
*.zip
*.syso
*.dat
*.txt
*.log
*.gz
*.ttf
*.apk
*.idsig
*.cmd
example/alarm/images/logo.png
